/* CSS declarations go here */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
@import url(http://fonts.googleapis.com/css?family=Noto+Serif);

html{min-height:100%;position:relative}

body{
	margin: 0;
}

h2{
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	background-color: #1abc9c;
	margin: 0;
	padding: 15px;

}

h2 small{
	color: #fff;
	font-size: 0.7em;
}

.container-fluid{
	padding: 0;
}

.stage{
	border-bottom: 1px solid #e3e3e3;
}

.height{
	height: 100% !important;
	position: relative;
}

.bg-gray{
	background-color: #f8f8f8;
}

.create-user{
	padding: 20px;
}

.create-user span{
	font-size: 1.6em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #6C9C9C;
	line-height: 1.3;
}

.form-user{
	margin-top: 20px;
}

.create-user input,select{
	display: block;
	font-size: 1.6em !important;
	height: 30px !important;
	line-height: 1.4 !important;
	margin: auto;
	margin-bottom: 10px;
	padding: 10px !important;
	width: 200px;
}

.create-user input{
	width: 180px;
}

.termo-concordancia{
	padding: 40px;
}

.termo-concordancia span{
	font-size: 2em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #fff;
	line-height: 1.3;
}

.termo-concordancia p{
	font-family: 'Noto Serif', 'serif', 'arial';
	color: #fff;
	line-height: 1.4;
	font-size: 1.3em;
	text-align: justify;
}

.button-accept{
	background-color: #fff;
	border-radius: 5px;
	padding: 15px;
	position: relative;
	opacity: 0.92;
	
	border: none !important;
	box-sizing: initial !important;
	margin: 0 !important;

	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-ms-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}

.button-accept:hover{
	opacity: 1;
}

.button-accept span{
	color: #BB3F05;
	font-size: 1.4em;
}

.spacer-20{
	height: 20px;
}

.div-button{
	padding: 0;
	padding-top: 3%;
	padding-bottom: 3%;
	min-height: 90px;
	opacity: 0.9;
	position: relative;
	width: 100% !important;
	border: none !important;
	box-sizing: initial !important;
	margin: 0 !important;

	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

.create{
	background-color: #e74c3c;
}

.enter{
	background-color: #2c3e50;
}

.before-button{
	min-height: 160px;
}

a.full{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 2;
}

.height:hover .div-button{
	opacity: 1 !important;
}



.div-button span{
	font-size: 2em;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	color: #fff;
	line-height: 1.3;
}



.span6{
	margin-left: 0 !important;
	width: 50% !important;
}

@media (max-width: 767px){
	.span6{
		
		width: 100% !important;
		
	}
}

img.img-experiment{
	width: 615px;
	margin-bottom: 20px;
}

.content{
	max-width: 600px;
	margin: 0 auto;
}

.input-98{
	width: 98%;
}

.submit{
	font-size: 1.2em !important;
	height: 60px !important;
}

.flip-horizontal {
	-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

input{
	font-size: 1.4em !important;
	line-height: 1.4 !important;
	padding: 10px !important;
	height: 40px !important;
}

.enter-input{
	font-size: 3em !important;
	margin-top: 50px;
	width: 110px;
	line-height: 1 !important;
}

.light::-webkit-input-placeholder { /* WebKit browsers */
	color: #e3e3e3;
}

.light:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #e3e3e3;
}
.light::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #e3e3e3;
}
.light:-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #e3e3e3;
}

select{
	font-size: 1.4em !important;
	line-height: 1.4 !important;
	padding: 10px !important;
	height: 60px !important;
}

.alert{
	margin-bottom: 0 !important;
	font-size: 1.2em;
}

.waiting{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	z-index: 2;
}

.modal{
	width: 500px;
	margin-left: -200px !important;
	position: fixed !important;
	background-color: #fff;
	border-radius: 4px;
	text-align: center;
	min-height: 150px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.modal p{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4em;
	color: #e74c3c;
	margin: 0;
	margin-right: 20px;
	margin-left: 20px;
	line-height: 1.3;
}

@media (max-width: 767px){
	body {
		padding-right: 0px !important;
		padding-left: 0px !important;
	}

	.modal{
		width: 80%;
		margin-left: -40% !important;
		position: fixed !important;
		top: 10% !important;
		left: 50% !important;
	}
}

.text-input{
	font-family: 'Open Sans', sans-serif;
	font-size: 1.7em;
	color: #2c3e50;
	margin-top: 20px;
	margin-bottom: 20px;
}